* {padding: 0;margin: 0;box-sizing: border-box;outline: none;border: none;font-family: "Microsoft YaHei";}
body, body > div {width: 100vw;height: 100vh;}
body {background: url('../img/orange.jpg') center no-repeat;background-size: cover;}
body > div {position: relative;overflow: hidden;}
div.bubble {border-radius: 50%;border: 1px solid #fff;position: absolute;bottom: -10px;animation: up 8s ease-in-out;left: 50px;transform: translate(-50%, 100%);}
@keyframes up {
	from {
		bottom: 0;
		opacity: 1;
		transform: translate(-50%, 100%);
	}
	to {
		bottom: 100%;
		opacity: 0.3;
		transform: translate(-50%, -100%);
	}
}